################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ShopBridgeAPI/.vs
/ShopBridgeAPI/obj
